$black: rgba(30, 29, 31, 1);
$white: rgba(249, 249, 249, 1); 
$green: rgba(213, 255, 64, 1);  
$purple: rgba(122, 0, 209, 1);  
$grey: rgba(255, 255, 255, 0.20);
$lightgrey:  rgba(249, 249, 249, 0.20);

//Font-family
$Righteous: 'Righteous', sans-serif;
$Raleway: 'Raleway', sans-serif;

//Font-size
$xxs: 12px;
$xs: 14px;
$xss: 15px;
$xm: 16px;
$s: 20px;
$m: 21px;
$md: 30px;
$lg: 90px;
$xl: 150px;
$xxl: 228px;

// Font Weights
$small:100;
$regular: 400;
$medium: 500;
$bold: 700;


// Line Heights
$small: 20px;
$tight: 25px;
$medium: 30px;
$mediuml: 100px;
$loose: 150px;
$large: 170px;
