$black: rgba(30, 29, 31, 1);
$white: rgba(249, 249, 249, 1); 
$green: rgba(213, 255, 64, 1);  
$purple: rgba(122, 0, 209, 1);  
$grey: rgba(255, 255, 255, 0.20);
$grey2:  rgba(249, 249, 249, 0.20);

//Font-family
$font-family-display: 'Righteous', sans-serif;
$font-family-body: 'Raleway', sans-serif;

//Font-size
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-xss: 15px;
$font-size-xm: 16px;
$font-size-s: 20px;
$font-size-m: 21px;
$font-size-md: 30px;
$font-size-lg: 90px;
$font-size-xl: 150px;
$font-size-xxl: 228px;

// Font Weights
$font-weight-small:100;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Text Transform
$text-transform-uppercase: uppercase;
$text-transform-none: none;

// Line Heights
$line-height-small: 20px;
$line-height-tight: 25px;
$line-height-medium: 30px;
$line-height-mediuml: 100px;
$line-height-loose: 150px;
$line-height-large: 170px;
